@import url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.css');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: Sahel !important;
}

/*a,
a:hover,
a:focus,
a::after {
  text-decoration: none;
}
li{
  list-style: none;
}
h1,h2{
  color: #ffffff;
}
table{
  padding: 15px;

}
th,td{
  text-align:center;
  padding-right: 0px;
}*/
/*AdminPanel*/
.sidebar{
  width: 300px;
  position: fixed;
  left: 0;
  top:0;
  height: 100%;
  background-color:#81b214;
  transition:width 300ms ;
}
.sidebar-brand{ 
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #ffffff;
}
.sidebar-brand h2 img{
  display: inline-block;
  padding-right: 1rem;
}
.sidebar-menu .list{
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 2rem;
}
.sidebar-menu .list.active,
.sidebar-menu .list:hover
{
  background: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 30px 0px 0px 30px;
}
.sidebar-menu a{
  padding-left: 1rem;
  display: block;
  color: #ffffff;
  font-size: 1.1rem;
}
.sidebar-menu .list.active a,
.sidebar-menu .list:hover a{
  color: #81b214;
}
.sidebar-menu a span:first-child{
  font-size: 1.5rem;
  padding-right: 1rem;
}
#nav-toggle:checked+.sidebar{
  width: 70px;
}
#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar .sidebar-menu .list{
  padding-left: 1rem;
  text-align: center;
}
#nav-toggle:checked+.sidebar .sidebar-menu li a{
  padding-left: 0rem;
}
#nav-toggle:checked+.sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child{
  display: none;
}
#nav-toggle:checked ~ .main-content {
  margin-left: 70px;
} 
#nav-toggle:checked ~ .main-content  header{
  width: calc(100%-70px);
  left: 70px;
} 
#nav-toggle:checked ~ .main-content  .details .RecentOrder{
  width: 800px;
} 
#nav-toggle:checked ~ .main-content  .content .content-2 .card{
  margin-left: 6rem;
} 
#nav-toggle:checked ~ .main-content  .content .content-2 .row{
  margin-left: 6rem;
} 
/*main*/
.main-content{
  transition: margin-left 300ms;
  margin-left:300px ;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  z-index: 100;
  transition: left 300ms ;
}
#nav-toggle{
  display: none;
}
.search-wrappar{
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search-wrappar label{
  position: relative;
  width: 100%;
}
.search-wrappar input{
  width:100% ;
  height: 40px;
  border-radius: 40px;
  padding:5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid #000000;
}
.search-wrappar label ion-icon{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2em;
}
.user-wrappar{
  display: flex;
  align-items: center;
}
.user-wrappar img{
  border-radius: 50%;
  margin-right: 1rem   ;
}
main{
  margin-top: 10px;
  padding: 2rem 1.5rem;
}
.CardBox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:30px; 
}
.CardBox .card{
  position: relative;
  background-color: #efefef;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content:space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.CardBox .card .numbers{
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: #81b214;
}
.CardBox .card .CardNames{
  color: #000000;
  font-size: 1.1em;
  margin-top: 5px;
}
.CardBox .card .icon-case{
  margin-top: -4rem;
  margin-bottom: 2rem;
  margin-left: 10rem;
}
.CardBox .card .icon-case img{
  width: 40px;
  height: 40px;
}
.CardBox .card:hover{
  background-color: #81b214;
}
.CardBox .card:hover .numbers,
.CardBox .card:hover .CardNames,
.CardBox .card:hover .icon-case{
  color: #ffffff;
}
.details{
  position: relative;
  width: 100%;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap:20px;
  margin-top: 10px;
}
.details .RecentOrder{
  position: relative;
  direction: rtl;
  min-height: 350px;
  width: 600px;
  background-color: #efefef;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.details .ResentCustomers{
  position: relative;
  direction: rtl;
  min-height: 350px;
  width: 500px;
  background-color: #efefef;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.CardHeader,
.CardBody{
  padding: 1rem;
}
.CardHeader{
  display: flex;
  justify-content:space-between;
  align-items:flex-start;
}
.CardHeader h2{
  font-weight: 600;
  color: #81b214;
}
.btn{
  position: relative;
  padding: 5px 10px;
  background-color: #81b214;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
}
.details table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead th{
  font-weight: 600;
}
.details table tr{
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details table tr:last-child{
  border-bottom:none;
}
.details table tbody tr:hover{
  background-color: #81b214;
  color: #ffffff;
}
.details table tbody tr td{
  padding: 10px;
}
.details table tbody th{

}
.details table tbody tr td:last-child{
  text-align: end;
}

.table-responsive{
  width: 100%;
  overflow-x: auto;
}
/*AdminPanel:add-products*/
.content .content-2 .card {
  position: relative;
  direction: rtl;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  max-width: 75rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  margin-right: 1rem;
  margin-bottom: 1rem!important;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);

}
.card-primary:not(.card-outline)>.card-header, .card-primary:not(.card-outline)>.card-header a {
  color: #fff;
}
.card-primary:not(.card-outline)>.card-header {
  background-color: #81b214;
  border-bottom: 0;
}
.card-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,.125);
  position: relative;
  padding: 0.75rem 1.25rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card-title {
  float: left;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
.content .content-2 .card form {
  display: block;
  margin-top: 0em;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.form-group {
  margin-bottom: 1rem;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  cursor: default;
}
label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 700;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 transparent;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input {
  overflow: visible;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-group>.custom-file {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin-bottom: 0;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0,0,0,.03);
  border-top: 0 solid rgba(0,0,0,.125);
}
[type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
.card-footer .btn-primary {
  color: #fff;
  background-color: #81b214 ;
  border-color: #81b214;
  box-shadow: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/*AdminPanel:products*/
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: -15px;
  direction: rtl !important;
  max-width: 75rem;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.card {
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  margin-bottom: 1rem!important;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-title{
  float: right;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}
.card-header>.card-tools {
  float: left;
  margin-right: -0.625rem;
}
.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%
}
.row .input-group>.form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-sm>.form-control:not(textarea) {
  height: calc(1.8125rem + 2px);
}
.input-group-sm>.form-control{
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.input-group>.form-control{
  position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input-group-append {
  margin-left: -1px;
  display: flex;
}
.input-group-sm>.input-group-append>.btn{
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  position: relative;
  z-index: 2;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
.input-group-append .btn-default {
  background-color: #f8f9fa;
  border-color: #ddd;
  color: #444;
}
.input-group-append .btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=submit], button {
  -webkit-appearance: button;
}
.row .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.row .table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.card-body>.table {
  margin-bottom: 0;
}
.row .table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background-color: transparent;
}
.row .table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.row .table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.row .card-body>.table>thead>tr>td, .card-body>.table>thead>tr>th {
  border-top-width: 0;
}
.row .table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.row .table td, .row .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.row th {
  text-align: inherit;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
}
.row tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.card-body.p-0 .table tbody>tr>td:first-of-type, .card-body.p-0 .table tbody>tr>th:first-of-type, .card-body.p-0 .table thead>tr>td:first-of-type, .card-body.p-0 .table thead>tr>th:first-of-type, .pl-4, .px-4 {
  padding-left: 1.5rem!important;
}
a{
  text-decoration: none;
  color: #000;
}

/*AdminPanel:users*/

/*AdminPanel:comments*/


/*UserPanel*/
.body-users-panel .CardBox{
  grid-template-columns: repeat(2,0fr) ; 
  margin-left:0.5rem;
}
.body-users-panel .CardBox .card{
  margin-left: 4rem;
  
}
.body-users-panel .CardBox .card .icon-case{
  margin-top: -4rem;
  margin-bottom: 2rem;
  margin-left:20rem;
}
.details .RecentOrder{
  width: 900px ;
  padding: 10px 10px;
  margin-left: 7rem ;
}
.details table thead th{
  margin:6rem;
}
.details table tbody th{
  margin:2rem ;
}

.body-users-panel .card-footer{
  
}



/*responsive*/
@media only screen and (max-width:1120px){
  .sidebar{
    width: 100px;
  }
  .sidebar-brand,
  .sidebar-menu .list{
    padding-left: 1rem;
    text-align: center;
  }
  .sidebar-menu li a{
    padding-left: 0rem;
  }
  .sidebar-brand h2 span:last-child,
  li a span:last-child{
    display: none;
  }
  .main-content {
    margin-left: 70px;
  } 
  .main-content  header{
    width: calc(100%-70px);
    left: 70px;
  } 
  .main-content  header label{
    margin-left: 1rem;
  }
  .CardBox{
    grid-template-columns: repeat(3,1fr);
  }
  .details{
    grid-template-columns: repeat(1,1fr);
    margin-left: 1.5rem;
  }
  .details .RecentOrder{
    width:800px;
    margin-left:5rem;
  }
  .details .ResentCustomers{
    width: 800px;
    margin-left:5rem;
  }
  .content .content-2 .card{
    width: 60rem;
    margin-left: 1rem;
  }
  .row{
    width: 60rem;
    margin-left: 3rem;
  }
  .body-users-panel  .CardBox{
    grid-template-columns: repeat(2,1fr);
  }
  .body-users-panel .CardBox .card .icon-case{
    margin-left: 20rem;
  }
  .body-users-panel .main-content .details{
    width: 400px;
    margin-left: 1rem;
  }

}
@media only screen and (max-width:992px){
  .CardBox{
    grid-template-columns: repeat(3,1fr);
  }
  .details{
    grid-template-columns: repeat(1,1fr);
    margin-left: 1.5rem;
  }
  .details .RecentOrder{
    width:700px;
    margin-left:4rem;
  }
  .details .ResentCustomers{
    width: 700px;
    margin-left:4rem;
  }
  .search-wrappar{
    width: 300px;
    margin-right:5rem ;
  }
  .content .content-2 .form{
    margin-top: 1rem ;
    margin-left: 10rem;
  }
  .content .content-2 .card{
    width: 50rem;
    margin-left: 1.5rem;
  }
  .row{
    width: 50rem;
    margin-left: 3rem;
  }
  .body-users-panel  .CardBox{
    grid-template-columns: repeat(1,1fr);
  }
  .body-users-panel .CardBox .card .icon-case{
    margin-left: 35rem;
  }
  .body-users-panel .main-content .details{
    width: 400px;
    margin-left: 0rem;
  }
}
@media only screen and (max-width:767px){
  .CardBox{
    grid-template-columns: repeat(3,1fr);
  }
  .details{
    grid-template-columns: 100%;
  }
  .details .RecentOrder{
    width:600px;
    margin-left:1rem;
  }
  .details .ResentCustomers{
    width: 600px;
    margin-left:1rem;
  }
  .search-wrappar{
    display: none ;
  }
  .content .content-2 .form{
    margin-top: 1rem ;
    margin-left: 5rem;
  }
  .content .content-2 .card{
    width: 35rem;
    margin-left: 2rem;
  }
  .row{
    width: 45rem;
    margin-left: -4rem;
  }
  .body-users-panel  .CardBox{
    grid-template-columns: repeat(1,1fr);
  }
  .body-users-panel .CardBox .card .icon-case{
    margin-left: 30rem;
  }
  .body-users-panel .main-content .details{
    width: 400px;
    margin-left: 1rem;
  }
}
@media only screen and (max-width:767px){
  .CardBox{
    grid-template-columns:100%;
  }
  .CardBox .card .icon-case{
    margin-top: -4rem;
    margin-bottom: 2rem;
    margin-left: 30rem;
  }
}